<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableGlobbing</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/Server.app/Contents/ServerRoot/usr/bin:/Applications/Server.app/Contents/ServerRoot/usr/sbin:/usr/local/sbin:/opt/local/bin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.currentcost</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/perl</string>
		<string>/Users/jskogsta/projects/currentcost_v2/currentcost_daemon_v2.pl</string>
		<string>&gt;</string>
		<string>/dev/null</string>
		<string>2&gt;&amp;1</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/jskogsta/projects/currentcost_v2/log/currentcost-launchd.stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/jskogsta/projects/currentcost_v2/log/currentcost-launchd.stdout</string>
	<key>WorkingDirectory</key>
	<string>/Users/jskogsta/projects/currentcost_v2/</string>
</dict>
</plist>
